header.app-haeder {
  background-color: $primary-clr1;
  padding: 6px 12px;
  height: rem(44px);
  display: flex;
  justify-content: space-between;

  .loggedin-user {
    background-color: $primary-clr1;
    padding: 2px 8px;
    border-radius: 1em;
    align-self: flex-end;
    color: whitesmoke;
  }

  nav {
    align-items: stretch;

    .logo {
      object-fit: contain;
      width: 75px;
    }

    a {
      color: $secondary-clr1;


      &:not(:first-child) {
        font-size: rem(14px);
        border-top: 1px solid $primary-clr1;
        padding: 0 5px;
      }
    }

    button {
      color: $secondary-clr1;
      background-color: $btn-clr5;

      &:hover {
        background-color: $btn-hover-clr3;
      }
    }

    .active {
      color: $primary-clr1;
    }
  }
}