header.app-header {
  background-color: $primary-clr1;
  padding: 6px 12px;
  height: rem(44px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .loggedin-user {
    background-color: $primary-clr1;
    padding: 2px 8px;
    border-radius: 1em;
    align-self: flex-end;
    color: whitesmoke;
  }

  nav {
    align-items: stretch;
    display: flex;
    align-items: center;

    .logo {
      object-fit: contain;
      width: 75px;
    }

    a {
      height: 32px;
      border-radius: 3px;
      color: $secondary-clr1;

      &:hover {
        text-decoration: none;
        background-color: $btn-hover-clr2;
      }

      &:not(:first-of-type) {
        font-size: rem(14px);
        border-top: 1px solid $primary-clr1;
        padding: 6px 12px;
      }
    }

    button.add-board {
      position: relative;
      color: $secondary-clr1;
      background-color: $btn-clr5;

      &:hover {
        background-color: $btn-hover-clr3;
      }
    }

    .active {
      color: $primary-clr1;
    }

    .member-wrapper {
      padding: 4px;
      border-radius: 50%;
    }

    .login-img {
      background-color: $btn-clr5;
      height: 24px;
      width: 24px;
      padding: 4px;
      border-radius: 50%;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}