.board-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    background-color: $primary-clr2;
    color: $secondary-clr2;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  a {
    color: $primary-clr1;
    padding: 10px;
  }

  pre {
    background-color: #ddd;
    font-size: 0.5em;
    color: #333;
    padding: 0.2em;
    margin: 0.2em;
  }
}
