.index-container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 50px;
}

.board-add-form {
  color: $fontColor3;
  display: flex;
  padding-left: 10px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $action-modal-shadow;
  position: fixed;
  margin-top: 100px;
  padding: 20px;
  z-index: 100;

  label {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
  }

  input {
    margin: 0;
    border: none;
    border-radius: 3px;
    box-shadow: $input-shadow;
    outline: none;
    padding: 8px 12px;
    width: 100%;
  }

  button {
    border-radius: 5px;
    width: 100%;
  }
  p {
    &:hover {
      color: $fontColor3;
      cursor: pointer;
    }
  }
  .board-display {
    margin: 30px;
    width: 220px;
    height: 120px;
  }
}

.add-form-header {
  h5 {
    font-weight: 100;
    margin: auto;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid $secondary-clr4;
  p {
    color: $fontColor3;
    margin: 0;
    float: right;
  }
}
