.colors-container {
  display: flex;
  gap: 7px;
  width: 100%;
  margin-bottom: 5px;
}

.color-item {
  border-radius: 3px;
  width: 40px;
  height: 32px;

  &:hover {
    cursor: pointer;
  }
}

.color-item-1 {
  background-color: $cover-clr1;

  &:hover {
    background-color: darken($cover-clr1, 10);
  }
}

.color-item-2 {
  background-color: $cover-clr2;

  &:hover {
    background-color: darken($cover-clr2, 10);
  }
}

.color-item-3 {
  background-color: $cover-clr3;

  &:hover {
    background-color: darken($cover-clr3, 10);
  }
}

.color-item-4 {
  background-color: $cover-clr4;

  &:hover {
    background-color: darken($cover-clr4, 10);
  }
}

.color-item-5 {
  background-color: $cover-clr5;

  &:hover {
    background-color: darken($cover-clr5, 10);
  }
}

.color-item-6 {
  background-color: $cover-clr6;

  &:hover {
    background-color: darken($cover-clr6, 10);
  }
}