.label-menu {
  .colors-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
  }

  // .selected {
  //   filter: brightness(90%);
  // }

  .selected::before {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .color-item {
    position: relative;
    border-radius: 3px;
    border: 2px transparent solid;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: white;
      width: 18px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .color-item-1 {
    background-color: $label-clr1;

    &:hover {
      background-color: darken($label-clr1, 10);
    }
  }

  .color-item-2 {
    background-color: $label-clr2;

    &:hover {
      background-color: darken($label-clr2, 10);
    }
  }

  .color-item-3 {
    background-color: $label-clr3;

    &:hover {
      background-color: darken($label-clr3, 10);
    }
  }

  .color-item-4 {
    background-color: $label-clr4;

    &:hover {
      background-color: darken($label-clr4, 10);
    }
  }

  .color-item-5 {
    background-color: $label-clr5;

    &:hover {
      background-color: darken($label-clr5, 10);
    }
  }

  .color-item-6 {
    background-color: $label-clr6;

    &:hover {
      background-color: darken($label-clr6, 10);
    }
  }

  .color-item-7 {
    background-color: $label-clr7;

    &:hover {
      background-color: darken($label-clr7, 10);
    }
  }

  .color-item-8 {
    background-color: $label-clr8;

    &:hover {
      background-color: darken($label-clr8, 10);
    }
  }

  .color-item-9 {
    background-color: $label-clr9;

    &:hover {
      background-color: darken($label-clr9, 10);
    }
  }

  .color-item-10 {
    background-color: $label-clr10;

    &:hover {
      background-color: darken($label-clr10, 10);
    }
  }

  .color-item-11 {
    background-color: $label-clr11;

    &:hover {
      background-color: darken($label-clr11, 10);
    }
  }

  .color-item-12 {
    background-color: $label-clr12;

    &:hover {
      background-color: darken($label-clr12, 10);
    }
  }

  .color-item-13 {
    background-color: $label-clr13;

    &:hover {
      background-color: darken($label-clr13, 10);
    }
  }

  .color-item-14 {
    background-color: $label-clr14;

    &:hover {
      background-color: darken($label-clr14, 10);
    }
  }

  .color-item-15 {
    background-color: $label-clr15;

    &:hover {
      background-color: darken($label-clr15, 10);
    }
  }

  .color-item-16 {
    background-color: $label-clr16;

    &:hover {
      background-color: darken($label-clr16, 10);
    }
  }

  .color-item-17 {
    background-color: $label-clr17;

    &:hover {
      background-color: darken($label-clr17, 10);
    }
  }

  .color-item-18 {
    background-color: $label-clr18;

    &:hover {
      background-color: darken($label-clr18, 10);
    }
  }

  .color-item-19 {
    background-color: $label-clr19;

    &:hover {
      background-color: darken($label-clr19, 10);
    }
  }

  .color-item-20 {
    background-color: $label-clr20;

    &:hover {
      background-color: darken($label-clr20, 10);
    }
  }

  .color-item-21 {
    background-color: $label-clr21;

    &:hover {
      background-color: darken($label-clr21, 10);
    }
  }

  .color-item-22 {
    background-color: $label-clr22;

    &:hover {
      background-color: darken($label-clr22, 10);
    }
  }

  .color-item-23 {
    background-color: $label-clr23;

    &:hover {
      background-color: darken($label-clr23, 10);
    }
  }

  .color-item-24 {
    background-color: $label-clr24;

    &:hover {
      background-color: darken($label-clr24, 10);
    }
  }

  .color-item-25 {
    background-color: $label-clr25;

    &:hover {
      background-color: darken($label-clr25, 10);
    }
  }

  .color-item-26 {
    background-color: $label-clr26;

    &:hover {
      background-color: darken($label-clr26, 10);
    }
  }

  .color-item-27 {
    background-color: $label-clr27;

    &:hover {
      background-color: darken($label-clr27, 10);
    }
  }

  .color-item-28 {
    background-color: $label-clr28;

    &:hover {
      background-color: darken($label-clr28, 10);
    }
  }

  .color-item-29 {
    background-color: $label-clr29;

    &:hover {
      background-color: darken($label-clr29, 10);
    }
  }

  .color-item-30 {
    background-color: $label-clr30;

    &:hover {
      background-color: darken($label-clr30, 10);
    }
  }
}

.board-add-form {
  .colors-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
  }

  .selected {
    filter: brightness(90%);
  }

  .selected::before {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .color-item {
    position: relative;
    border-radius: 3px;
    width: 40px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: white;
      width: 18px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .color-item-1 {
    background: $cover-clr1;

    // &:hover {
    //   background: darken($cover-clr1, 10);
    // }
  }

  .color-item-2 {
    background: $cover-clr2;

    // &:hover {
    //   background: darken($cover-clr2, 10);
    // }
  }

  .color-item-3 {
    background: $cover-clr3;

    // &:hover {
    //   background: darken($cover-clr3, 10);
    // }
  }

  .color-item-4 {
    background: $cover-clr4;

    // &:hover {
    //   background: darken($cover-clr4, 10);
    // }
  }

  .color-item-5 {
    background: $cover-clr5;

    // &:hover {
    //   background: darken($cover-clr5, 10);
    // }
  }

  .color-item-6 {
    background: $cover-clr6;

    // &:hover {
    //   background: darken($cover-clr6, 10);
    // }
  }
}

.cover-color-item {
  width: 48px;
}

.cover-color-item-1 {
  background-color: $label-clr1;

  &:hover {
    background-color: darken($label-clr1, 10);
  }
}

.cover-color-item-2 {
  background-color: $label-clr2;

  &:hover {
    background-color: darken($label-clr2, 10);
  }
}

.cover-color-item-3 {
  background-color: $label-clr3;

  &:hover {
    background-color: darken($label-clr3, 10);
  }
}

.cover-color-item-4 {
  background-color: $label-clr4;

  &:hover {
    background-color: darken($label-clr4, 10);
  }
}

.cover-color-item-5 {
  background-color: $label-clr5;

  &:hover {
    background-color: darken($label-clr5, 10);
  }
}

.cover-color-item-6 {
  background-color: $label-clr6;

  &:hover {
    background-color: darken($label-clr6, 10);
  }
}

.cover-color-item-7 {
  background-color: $label-clr7;

  &:hover {
    background-color: darken($label-clr7, 10);
  }
}

.cover-color-item-8 {
  background-color: $label-clr8;

  &:hover {
    background-color: darken($label-clr8, 10);
  }
}

.cover-color-item-9 {
  background-color: $label-clr9;

  &:hover {
    background-color: darken($label-clr9, 10);
  }
}

.cover-color-item-10 {
  background-color: $label-clr10;

  &:hover {
    background-color: darken($label-clr10, 10);
  }
}
