.colors-container {
  display: flex;
  gap: 7px;
  width: 100%;
  margin-bottom: 5px;
}

.color-item {
  border-radius: 3px;
  width: 40px;
  height: 32px;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.color-item-1 {
  background-color: $coverClr1;
}
.color-item-2 {
  background-color: $coverClr2;
}
.color-item-3 {
  background-color: $coverClr3;
}
.color-item-4 {
  background-color: $coverClr4;
}
.color-item-5 {
  background-color: $coverClr5;
}
.color-item-6 {
  background-color: $coverClr6;
}
