.modal-container {
  padding-bottom: 12px;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px $btn-hover-clr1;
  background-color: $secondary-clr1;
  width: rem(304px);
  z-index: 10;

  div.header {
    border-bottom: 1px solid $btn-hover-clr1;
    text-align: center;
    color: $font-clr3;
    display: block;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    margin: 0 12px 8px 12px;

    h3 {
      font-size: rem(14px);
      margin: 0;
      font-weight: 200;
      line-height: 40px;
    }

    .btn-close {
      cursor: pointer;
      padding: 10px 0 10px 8px;
      position: absolute;
      right: 0;
      top: 0;
      font-size: rem(16px);
    }
  }

  .inner-content {
    max-height: 80vh;
    overflow: auto;

    input {
      font-size: rem(14px);
    }
  }
}

// MODAL
.v-popper__arrow-container {
  display: none;
}

//SCROLLBAR
::-webkit-scrollbar {
  margin-inline-end: -12px;
}
