.homepage {
  font-family: 'Charlie Display';

  .hero {
    justify-content: center;
    background: url('src/assets/imgs/homepage/white-wave.svg') center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: $font-clr4;
    position: relative;

    .hero-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 90vw;
      max-width: 1200px;

      // @include for-normal-layout {
      //   max-width: em(720px);
      // }

      // @include for-wide-layout {
      //   max-width: em(960px);
      // }

      // @include for-super-wide-layout {
      //   max-width: em(1200px);
      // }

      &>* {
        padding: 8rem 1rem;
      }

      h1 {
        font-size: 3rem;
        line-height: 1.25;
      }
    }

  }

  .hero-intro {}

  .intro-img {}
}