.homepage-container {
  * {
    font-family: 'Charlie Display';

  }

  .homepage-main {
    .hero {
      justify-content: center;
      background: url('src/assets/imgs/homepage/white-wave.svg') center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
      background-blend-mode: normal, normal;
      color: $font-clr4;
      position: relative;


      .hero-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 90vw;
        max-width: 1200px;

        @include for-normal-layout {
          grid-template-columns: repeat(2, 1fr);
        }

        .hero-intro {
          text-align: center;
          padding: 8rem 1rem 1rem;

          @include for-normal-layout {
            text-align: left;
            padding: 8rem 1rem;

            h1 {
              font-size: 3rem;
            }
          }

          p {
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
            line-height: 1.5;
          }

          .btn-demo {
            text-decoration: none;
            border-radius: 0.3rem;
            padding: 0.7rem 1rem 0.8rem;
            transition: all 250ms ease-out;
            background-color: $btn-clr10;
            color: $font-clr4;

            &:hover {
              background-color: $btn-hover-clr5;
            }
          }
        }

        img {
          padding: 1rem;
          margin-bottom: -80px;

          @include for-normal-layout {
            padding: 8rem 1rem 6rem;
            margin-bottom: 0;
          }
        }


        h1 {
          font-size: 2rem;
          line-height: 1.25;
        }
      }
    }
  }

  header.homepage-header {

    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $secondary-clr1;
    z-index: 1;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;

    &:hover {
      box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
    }

    .logo {
      object-fit: contain;
      padding: 8px 16px;
      cursor: pointer;
    }

    .nav-container {
      align-items: stretch;

      a {
        cursor: pointer;
        font-weight: 400;
        color: $font-clr1;
        text-decoration: none;
        padding: 20px 24px;
        font-size: 1.2rem;
        height: 100%;

        &:last-of-type {
          background-color: $btn-clr10;
          color: $font-clr4;
          transition: all 250ms ease-out;

          &:hover {
            background-color: $btn-hover-clr5;
          }
        }
      }
    }
  }
}