.img-picker-container {
  display: flex;
  gap: 7.5px;
  margin-bottom: 8px;
  .img-picker-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 65px;
    height: 40px;
    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
    svg {
      color: white;
    }
  }
}
