.img-picker-container {
  display: flex;
  gap: 11.5px;
  padding-bottom: 5px;
  .img-picker-item {
    display: flex;
    border-radius: 3px;
    width: 60px;
    height: 40px;
    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }
}
