.labels-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  min-height: 29em;
  top: 5%;
  width: 16.5em;
  right: 0.5em;
  gap: 0.1em;
  background-color: $secondary-clr1;
  .btn-close {
    justify-self: end;
    align-self: end;
    background-color: inherit;
    cursor: pointer;
  }

  h3 {
    align-self: center;
  }

  input[name='label-search'] {
    width: 90%;
    align-self: center;
    padding: 0.5em;
    margin-inline: 0.5em;
    min-height: 3em;
    border-radius: 3px;
    border: none;
    background-color: $secondary-clr2;
    // border: 2px solid $secondary-clr4;
    box-shadow: $input-shadow;

    &:hover {
      background-color: $secondary-clr3;
    }

    &:focus {
      outline: 2px solid $primary-clr1;
    }
  }
  h4 {
    font-size: 0.7em;
    margin-inline-start: 0.6em;
    padding-block-start: 0.5em;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .label-list-item {
    display: flex;
    justify-content: space-between;
    input {
      align-self: center;
      padding: 0;
      margin-inline-start: 0.6em;
      border-radius: 3px;
    }
    .label-container {
      width: 80%;
      cursor: pointer;
      border-radius: 3px;
      &:hover {
        background-color: darken($secondary-clr1, 10%);
      }
    }
    .pencil-icon {
      cursor: pointer;
      scale: 0.8;

      &:hover {
        background-color: darken($secondary-clr1, 10%);
      }
    }
  }
  button {
    justify-self: center;
    margin-inline: 0.7em;
    padding: 0.5em;
    background-color: $secondary-clr6;

    &:hover {
      background-color: darken($secondary-clr6, 5%);
    }
  }
}
