.login-signup {
  background-color: $secondary-clr8;

  .logo {
    height: 60px;
    object-fit: contain;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .login-form {
    text-align: center;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: #0000001a 0 0 10px;
    width: 400px;
    z-index: 1;

    h2 {
      font-family: 'Segoe UI Bold';
      color: $font-clr3;
      line-height: 28px;
      margin-block: 10px 25px;
    }

    input {
      width: 100%;
      height: 44px;
      font-size: 14px;
      background-color: #fafbfc;
      margin-bottom: 16px;
      padding: 7px;
      border-radius: 3px;
      border: none;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      outline: none;
    }

    button.btn-login {
      width: 100%;
      cursor: pointer;
      color: #fff;
      background: $btn-clr9;
      padding: 9px 18px;
      border-radius: 0.3em;
      border: none;
      font-weight: 700;
    }

    button.btn-login-with-google {
      transition: background-color .3s, box-shadow .3s;

      padding: 12px 16px 12px 42px;
      border: none;
      border-radius: 3px;
      box-shadow: 0 -1px 5px rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      margin-bottom: 8px;

      color: #757575;
      font-size: 14px;

      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
      background-color: white;
      background-repeat: no-repeat;
      background-position: 12px 11px;

      &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
      }

      &:active {
        background-color: #eeeeee;
      }

      &:focus {
        outline: none;
        box-shadow:
          0 -1px 0 rgba(0, 0, 0, .04),
          0 2px 4px rgba(0, 0, 0, .25),
          0 0 0 3px #c8dafc;
      }

      &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
      }
    }

    p.seperator {
      align-self: center;
      margin: 20px 0;
      color: #4d4d4d;
      font-size: 1em;
      font-weight: 300;
    }

    // hr {
    //   background-color: $btn-hover-clr1;
    //   border: 0;
    //   height: 1px;
    //   padding: 0 12px;
    //   width: 100%;
    // }
  }

  .img-comtainer {
    position: absolute;
    bottom: 0;
    width: 100%;

    img {
      width: 30%;
    }
  }

  .logout {
    p {
      color: $font-clr3;
      margin: 0;
    }
  }
}