.task-details {
  background-color: $secondary-clr3;

  & * {
    color: $fontColor2;
  }

  button {
    background-color: $secondary-clr5;
    padding: 0.5em;
  }
  .btn-close {
    justify-self: end;
  }
  .task-cover {
    background-color: $coverClr2;
    min-height: 6em;
    display: flex;
    justify-content: end;
    .btn-close {
      padding-inline: 1em;
      font-weight: 700;
    }
  }

  .task-container {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1em 2em 1fr 8em 1em;

    &-heading {
      padding-top: 1em;
      grid-column: 3/4;
      justify-self: start;
      align-self: start;
    }

    .description-editor {
      grid-column: 3;
    }

    .btns-container {
      grid-column: 4;
      display: flex;
      flex-direction: column;
      justify-content: start;

      h4 {
        font-size: 0.8em;
      }

      button {
        color: $fontColor1;
        width: 100%;
        text-align: left;
      }
    }

    .comments-activity-container {
      grid-column: 3;
      width: 100%;
      form {
        justify-self: center;
        p {
          cursor: pointer;
        }
        textarea {
          width: 100%;
          min-height: 30%;
        }
      }
    }
  }
}
