.alert {
  background-color: lightgray;
  position: fixed;
  top: 0;
  right: 0.5em;
  padding: 1em;
  z-index: 20;
  &.alert-success {
    background-color: lightgreen;
  }
  &.alert-error {
    background-color: lightcoral;
  }
}
