.members-list-container {
  background-color: $secondary-clr2;
  padding-inline: 12px;

  input {
    margin: 4px 0 0;
    border: none;
    box-shadow: $input-shadow;
    width: 100%;

    &:focus {
      background-color: $secondary-clr1;
      box-shadow: inset 0 0 0 2px $primary-clr4;
      border: none;
      outline: none;
    }
  }

  h4 {
    font-size: rem(12px);
    color: $font-clr3;
    line-height: 16px;
    margin-top: 16px;
  }
}