.members-list-container {
  background-color: $secondary-clr2;
  display: flex;
  flex-direction: column;
  width: 16.5em;
  right: 0.5em;
  padding: 0.5em;
  gap: 0.5em;

  input {
    border: none;
    box-shadow: $input-shadow;
  }
}