* {
  box-sizing: border-box;
}

::selection {
  background-color: $primary-clr1;
  color: $primary-clr2;
}

html {
  font-family: 'Segoe UI Regular';
  line-height: 1.6;
  color: $primary-clr2;
}

body {
  font-size: rem(14px);
  margin: 0;
}

.main {
  height: calc(100vh - $header-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

input {
  padding: 8px 12px;
}

i {
  line-height: 0;
}

.icon:not(.member-img) {
  font-family: trellicons;
}

textarea {
  font-family: 'Segoe UI Regular';
  width: 100%;
  border: none;
  outline: none;
}
