.btn {
  font-size: rem(14px);
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 6px 12px;
  border: none;
  color: $font-clr1;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;

  .board-btn {
    background-color: $btn-clr7;
  }

  &.btn-dark {
    background-color: $btn-clr1;
    color: $font-clr4;
  }

  &.btn-blue {
    background-color: $btn-clr2;
    color: $font-clr4;
  }

  &.btn-light {
    background-color: $btn-clr3;
    color: $font-clr1;
  }

  &.btn-red {
    background-color: $btn-clr4;
    color: $font-clr4;
  }
}

.btn-task {
  border: none;
  border-radius: 3px;
  font-size: rem(14px);
  padding: 6px 12px;

  &.light {
    background-color: $btn-clr8;
    color: $font-clr1;

    &:hover {
      background-color: $btn-clr6;
    }
  }

  &.blue {
    background-color: $btn-clr2;
    color: $font-clr4;

    &:hover {
      background-color: $btn-clr7;
    }

  }
}

.btn-sm {
  padding: 6px;
  border-radius: 3px;
  color: $font-clr3;
  line-height: 0;

  &:hover {
    color: $font-clr1;
    background-color: $btn-hover-clr1;
  }
}