.board-lists-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  margin: 40px 16px 0;

  h3 {
    padding: 6px;
    font-size: 16px;
    color: $font-clr0;
  }

  .boards-header {
    display: flex;
    align-items: center;
  }
}

.board-list {
  list-style: none;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  padding: 0px;
  gap: 7px;

  li {
    color: $secondary-clr2;
    padding: 7px;
    margin: 5px;
    width: 194px;
    gap: 20px;
    height: 96px;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }

  a {
    color: $primary-clr1;
    padding: 10px;
  }

  pre {
    background-color: #ddd;
    font-size: 0.5em;
    color: #333;
    padding: 0.2em;
    margin: 0.2em;
  }
}

.board-list .new-board {
  background-color: $secondary-clr6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    color: $font-clr0;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  }
}