.board-container {
  .board-header {
    height: auto;
    padding: 8px 4px 4px 12px;
    position: relative;

    h1 {
      font-family: 'Segoe UI Bold';
      color: $font-clr1;
      margin: 0;
    }
  }
}