.board-lists-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  margin: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  h3 {
    padding: 6px;
    font-size: 16px;
    color: $font-clr0;
    margin-bottom: 5px;
  }

  .boards-header {
    margin: 0px;
    display: flex;
    align-items: center;
  }
}

.board-list {
  list-style: none;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 16px;
  margin: 0px;

  li {
    color: $secondary-clr2;
    padding: 7px;
    width: 190px;
    gap: 20px;
    height: 96px;
    border-radius: 3px;
    overflow: hidden;
    &:hover:not(.new-board) {
      cursor: pointer;
      filter: brightness(90%);
    }
    &:hover .star {
      transform: translateX(0px);
    }
  }

  a {
    color: $primary-clr1;
    padding: 10px;
  }

  pre {
    background-color: #ddd;
    font-size: 0.5em;
    color: #333;
    padding: 0.2em;
    margin: 0.2em;
  }
}

.board-list .new-board {
  position: relative;
  overflow: visible;
  background-color: $secondary-clr6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  p {
    margin: 0;
    color: $font-clr0;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  }
  &:hover {
    cursor: pointer;
    background-color: #091e4214;
  }
}

.board-add-form {
  // fix to pixel perfect
  right: -165%;
  z-index: 10;
  position: absolute;
  display: flex;
  color: $font-clr3;
  padding-left: 10px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  box-shadow: $action-modal-shadow;
  padding: 10px;
  .background-label {
    margin-top: 15px;
  }
  span {
    font-size: 14px;
  }
  .board-title-label {
    margin-top: 15px;
  }
  label {
    margin: 0;
    font-size: em(14px);
    font-weight: 700;
    text-align: left;
    font-weight: 700;
  }

  .picked {
    filter: brightness(90%);
  }

  input {
    margin: 0;
    border: none;
    border-radius: 3px;
    box-shadow: $input-shadow;
    outline: none;
    padding: 10px 12px;
    width: 100%;
    &:focus {
      background-color: $secondary-clr1;
      box-shadow: inset 0 0 0 2px $primary-clr4;
      border: none;
      outline: none;
    }
  }

  button {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border: none;

    &:hover {
      filter: brightness(120%);
      background-color: $primary-clr1;
      color: $secondary-clr2;
      cursor: pointer;
    }
  }

  p {
    &:hover {
      color: $font-clr3;
      cursor: pointer;
    }
  }

  .board-display {
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
  }

  h2 {
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5e6c84;
  }
}

.add-form-header {
  padding-bottom: 6px;
}

.required-field {
  color: red;
  font-size: 1.2em;
}

@media (max-width: 1000px) {
  .board-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding: 0px;
    gap: 16px;
    margin: 0px;
    li {
      gap: 5px;
    }
  }
}

@media (max-width: 850px) {
  .board-add-form {
    right: 0;
    bottom: 0;
    z-index: 10;
    position: fixed;
    color: $font-clr3;
    background-color: #fff;
    box-shadow: $action-modal-shadow;
  }

  .board-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    li {
      width: 160px;
    }
  }
}
