@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Segoe UI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Segoe UI Italiddc.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Segoe UI Bold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Segoe UI Bold Italic.woff') format('woff');
}

@font-face {
  font-family: trellicons;
  src: url('../font/trellicons\ .ttf');
}

@font-face {
  font-family: 'Charlie Display';
  src: url('../font/charlie-display-3.ttf');
}

@font-face {
  font-family: 'nunito regular';
  src: url('../font/NunitoSans-Regular.ttf');
}
