// Colors
$primary-clr1: #ce2e6c;
$primary-clr2: #4f3a65;
$primary-clr3: #574f7d;
$secondary-clr2: #95adbe;
$secondary-clr2: #dff0ea;
$secondary-clr2: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;