// COLOR PALETTE
$primary-clr1: #026aa7;
$primary-clr2: #3588b9;
$primary-clr3: #014a75;
$secondary-clr1: #fff;
$secondary-clr2: #fafbfc;
$secondary-clr3: #f4f5f7;
$secondary-clr4: #e2e4e9;
$secondary-clr5: #eaecf0;
$secondary-clr6: #ebecf0;

// COVER COLORS
$coverClr1: #7bc86c;
$coverClr2: #f5dd29;
$coverClr3: #ffaf3f;
$coverClr4: #ef7564;
$coverClr5: #cd8de5;
$coverClr6: #5ba4cf;
$coverClr7: #29cce5;
$coverClr8: #6deca9;
$coverClr9: #ff8ed4;
$coverClr10: #172b4d;

// FONT COLORS
$fontColor1: #172b4d;
$fontColor2: #2d3f5e;
$fontColor3: #5e6c84;

// LABEL DEFAULT COLORS
$labelClr1: #d6ecd2;
$labelClr2: #faf3c0;
$labelClr3: #fce6c6;
$labelClr4: #f5d3ce;
$labelClr5: #eddbf4;
$labelClr6: #bcd9ea;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// vars
$header-height: 44px;
$action-modal-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.251),
  0 0 0 1px rgba(9, 30, 66, 0.078);
$input-shadow: inset 0 0 0 2px #dfe1e6;
