.add-checklist-form {
  display: flex;
  flex-direction: column;
  color: $font-clr3;
  align-items: flex-start;
  padding: 0 12px;

  label {
    margin: 0;
    font-size: em(14px);
    font-weight: 700;
  }

  h4 {
    font-family: 'Segoe UI Bold';
    font-size: 0.75rem;
    color: $font-clr3;
    line-height: 16px;
    margin: 4px 0;
    width: 100%;
  }

  input {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: $secondary-clr2;
    box-shadow: $input-shadow;
    opacity: 0.8;
    margin: 0 0 12px;

    &:hover {
      background-color: $secondary-clr3;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px $primary-clr4;
    }
  }

  button {
    padding-left: 24px;
    padding-right: 24px;

    &:hover {
      background-color: $primary-clr1;
    }
  }

  p {
    &:hover {
      color: $font-clr3;
      cursor: pointer;
    }
  }

  .board-display {
    margin: 30px;
    width: 220px;
    height: 120px;
    border-radius: 5px;
    box-shadow: $board-display-shadow;
  }

  button {
    width: fit-content;
  }

  #add-btn {
    margin: 5px 0px;
  }
}