.mark-todo {
  text-decoration: line-through;
}

.checklist-list {


  .checklist-btn {
    &:hover {
      cursor: pointer;
    }
  }
}

.checklist-preview {
  position: relative;
  padding: 8px 0;
  margin: 0 0 4px 0px;

  .icon {
    margin-top: -8px;
  }
}

.todos-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;

  button {
    width: fit-content;
  }

  input {
    border: none;
    background-color: $secondary-clr3;
  }

  .add-todo-input {
    box-shadow: $input-shadow;
    background-color: white;
  }

  .add-item-btn {
    margin: 5px 0px;
  }
}

.add-todo-btns {
  display: flex;
  gap: 5px;
}