.label-preview {
  position: relative;
  min-height: rem(32px);
  padding: 0 12px 0 32px;
  align-items: start;

  span {
    position: relative;
    font-size: rem(14px);
    line-height: rem(32px);

    &::before {
      content: '';
      position: absolute;
      top: 1em;
      bottom: 0.5em;
      left: -0.5em;
      border-radius: 50%;
      width: 1em;
      height: 1em;

      background-blend-mode: darken;
    }

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      bottom: 8px;
      left: -24px;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: black;
      opacity: 0.2;
    }
  }
}