.labels-list {
  display: flex;
  flex-direction: column;

  .btn-label {
    text-align: center;
    margin: 4px 0;

    &:hover {
      background-color: darken($color: $secondary-clr1, $amount: 10);
    }
  }

  input[name='label-search'] {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: $secondary-clr2;
    box-shadow: $input-shadow;
    opacity: 0.8;

    &:hover {
      background-color: $secondary-clr3;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px $primary-clr4;
      border: none;
      outline: none;
    }
  }

  h4 {
    font-size: rem(12px);
    color: $font-clr3;
    line-height: 16px;
    margin-top: 16px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 4px 0 8px;
  }

  .label-list-item {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 4px;

    input {
      align-self: center;
      margin: 0;
      border-radius: 3px;
    }

    .label-checkbox {
      width: 100%;

      .label-preview {
        color: $font-clr1;
        cursor: pointer;
        border-radius: 3px;
        margin-left: 12px;
      }
    }

    .pencil-icon {
      cursor: pointer;

      &:hover {
        background-color: darken($secondary-clr1, 10%);
      }
    }
  }

  .btn-sm {
    padding: 8px;
    align-self: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}