// @import '../../setup/mixins';

.label-preview {
  display: flex;

  min-height: rem(32px);
  max-width: 100%;
  min-width: 48px;
  padding: 0 12px 0 32px;
  gap: 4px;
  align-items: center;

  span {
    font-size: rem(14px);
    line-height: rem(32px);
    position: relative;
    color: $font-clr1;

    & .label-circle {
      position: absolute;
      left: -24px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      width: 16px;
      height: 16px;

    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0.5em;
    //   bottom: 0.5em;
    //   left: -24px;
    //   border-radius: 50%;
    //   width: 16px;
    //   height: 16px;
    //   // @include contrast-text-color(red);
    // }
  }
}