.label-edit {
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 0.75rem;
    color: #5e6c84;
    line-height: 16px;
    margin-top: 16px;
  }

  .label-preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-clr3;
    min-height: 6em;
    margin: 0 -12px;

    .label-preview {
      border-radius: 3px;
      width: 80%;
    }
  }

  input {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: $secondary-clr2;
    box-shadow: $input-shadow;
    opacity: 0.8;

    &:hover {
      background-color: $secondary-clr3;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px $primary-clr4;
      border: none;
      outline: none;
    }
  }

  .colors-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100%;
    margin-bottom: 8px;
  }

  .btn-remove-color {
    text-align: center;
    gap: 8px;
    margin-bottom: 8px;
  }

  hr {
    background-color: #091e4221;
    border: 0;
    height: 1px;
    margin: 16px 0;
    padding: 0;
    width: 100%;
  }

  .label-btns-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .btn {
      color: $secondary-clr1;
    }
  }
}
