.activity-container {
  color: #172b4d;
  padding: em(8px) 0;

  a {
    background-color: red;
  }

  .activity-by {
    font-family: 'Segoe UI Bold';
    font-size: rem(14px);
  }

  .activity-txt {
    font-weight: 400;
  }

  .activity-timestamp {
    display: block;
    font-size: rem(12px);
  }
}