.task-details {
  background-color: $secondary-clr3;
  display: flex;
  flex-direction: column;

  & * {
    color: $font-clr2;
  }

  // & > .btn-close {
  //   padding-block-start: 1em;
  //   padding-inline-end: 1em;
  //   align-self: end;
  // }

  button {
    background-color: $secondary-clr5;
    border: 0;
    padding: 5px 10px;
    margin: 5px;
  }

  .task-cover {
    background-color: $cover-clr2;
    min-height: 6em;
    display: flex;
    justify-content: end;

    .btn-close {
      padding-inline: 1em;
      font-weight: 700;
    }
  }

  .task-container {
    display: grid;
    min-height: 100%;
    grid-template-rows: 4em 3em 3em 1fr 1fr;
    grid-template-columns: 1em 2em 1fr 10em 1em;

    .icon {
      align-self: center;
    }

    &-heading {
      display: grid;
      grid-template-columns: 1em 2em 1fr 8em 1em;
      width: 100%;
      padding-top: 1em;
      padding-inline-end: 1em;
      grid-column: 2/-1;
      grid-row: 1;

      h2 {
        font-size: 1.2em;
        grid-column: 1/4;
        height: 100%;
        align-self: center;
      }

      small {
        grid-column: 1/4;
        align-self: start;

        span {
          opacity: 0;
        }
      }

      .btn-close {
        grid-column: 5;
      }
    }

    .task-heading-label-list {
      grid-column: 3;
      grid-row: 3;

      h3 {
        font-size: 0.7em;
      }
    }

    .description-editor {
      grid-row: 4/5;
      align-self: start;
      grid-column: 2/4;
      width: 100%;

      p {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
      }

      textarea {
        width: 100%;
        min-height: 100%;
      }

      .btn-submit-desc {
        background-color: $primary-clr4;
        color: $secondary-clr1;
        padding: 0.7em;
        border-radius: 10%;
      }

      .btn-cancel-desc {}
    }

    .btns-container {
      grid-column: 4;
      grid-row: 2/5;
      flex-direction: column;
      justify-content: start;
      width: 100%;

      h4 {
        font-size: 0.8em;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: start;
        color: $font-clr1;
        width: 100%;
        text-align: left;
        padding-inline-end: 1em;

        .icon {
          margin-inline-end: 1em;
        }
      }
    }

    .comments-activity-container {
      grid-row: 5;

      grid-column: 2/4;
      width: 100%;

      form {
        justify-self: center;

        p {
          cursor: pointer;
        }

        textarea {
          width: 100%;
          min-height: 30%;
        }
      }
    }
  }
}