.task-preview {
  padding: 6px 8px;

  .task-title {
    margin: 0 0 4px;
  }

  .icon-edit {
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0;
    z-index: 2;
  }

  &:hover .icon-edit {
    background-color: #f4f5f7;
    opacity: 0.6;
  }

  a {
    font-weight: 200;
    text-decoration: none;
    color: $font-clr1;
  }
}

.semi-color-container {
  padding: 10px;
}
