.group-filter {
  position: fixed;
  top: rem(44px);
  right: 0;
  width: 20em;
  height: 100%;
  background-color: $secondary-clr2;
  &-heading {
    display: flex;
    justify-content: space-between;
  }
  .members-list {
    position: relative;
  }
}
