.due-date-preview-container {

  .due-soon,
  .overdue {
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
    border-radius: 2px;
    margin: auto 0 auto 8px;
  }

  .overdue {
    background-color: #eb5a46;
  }

  .due-soon {
    background-color: #f2d600;
  .btn {
    .overdue {
      background-color: #eb5a46;
      color: $font-clr4;
    }
    .due-soon {
      background-color: #f2d600;
      color: $font-clr4;
    }
    .completed {
      background-color: #61bd4f;
      color: $font-clr4;
    }
  }
}