.date-picker-container {
  .dp__menu {
    border: none;
  }
  .custom-time-picker-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    label {
      width: 100%;
      margin-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }
    input[type='checkbox'] {
      margin-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
      position: relative;
      display: inline-flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    .start-date-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      margin-bottom: rem(12px);
      input[type='text'] {
        margin-right: 8px;
      }
    }
    .txt-input {
      width: rem(90px);
      border: 1px solid black;
      width: rem(90px);
      margin: 0;
      padding: 6px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      transition-property: background-color, border-color, box-shadow;
      transition-duration: 85ms;
      transition-timing-function: ease;
      border-radius: 3px;
    }
  }
}
